@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.outerContainer {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
  border-radius: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transition-duration: 150ms;
  justify-self: center;
  align-content: center;
  align-items: center;
  animation: fadein 0.33s;
  align-self: center;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.outerContainer:hover {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.logo {
  width: 7.5em;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  border-radius: 1.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-content: center;
  align-items: center;
  padding-top: 1em;
  align-self: center;
  width: 90%;
	--tw-bg-opacity: 1;
background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.title,
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  font-size: 1.125em;
}

.subtitle {
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: normal;
}

.middleContainer {
  margin-top: 1em;
  padding-top: 1em;
  width: 87.5%;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.middleHeader {
  font-weight: bold;

  font-size: 1.125em;
  grid-column: span 2 / span 2;
}

.divisor {
  width: 100%;
  margin-top: 0.5em;
  border-bottom: 0.0625em solid #009cd5;
  grid-column: span 2 / span 2;
}

.label,
.detail {
  margin-top: 0.5em;
}

.label {
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.detail {
  font-size: 0.85em;
}

.middleFooter {
  margin-top: 1em;
  font-weight: lighter;
  font-size: 0.75em;
  grid-column: span 2 / span 2;
}

.btnsContainer {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.btnSubmit {
  margin-left: 1em;
}

.btnCancel {
  margin-right: 1em;
}

.btnSubmit,
.btnCancel {
  width: 7.5em;
  height: 4em;
  font-size: 0.85rem;
  outline: none;
  border: none;
  color: white;
  opacity: 80%;
  transition-duration: 150ms;
  border-radius: 0.5em;
  cursor: pointer;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btnSubmit:hover,
.btnCancel:hover {
  opacity: 100%;
}

.btnSubmit:active,
.btnCancel:active {
  opacity: 100%;
  transform: scale(0.925);
}

.btnSubmit {
  background-color: #009cd5;
}

.btnCancel {
  --tw-bg-opacity: 1;
  background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
