.pin {
  opacity: 0.675;
  transition: 0.2s ease all;
  animation: bounce 0.75s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.popUp {
  color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  font-size: 0.65em;
  transition-duration: 150ms;
  align-items: center;
  cursor: pointer;
}

.popUp:hover {
  opacity: 0.65;
  color: #009cd5;
}
