.pin {
  opacity: 67.5%;
  transition: 0.2s ease all;
  animation: bounce 0.75s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.popUp {
  color: black;
  opacity: 50%;
  display: flex;
  justify-content: center;
  font-size: 0.65em;
  justify-items: center;
  justify-self: center;
  align-content: center;
  transition-duration: 150ms;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.popUp:hover {
  opacity: 65%;
  color: #009cd5;
}
