.outerContainer {
  margin-top: 0em;
  margin-bottom: 5em;
  width: 50%;
  height: 24.25em;
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  margin-left: 5em;
  transition: 0.2s ease all;
  border-radius: 0.5em;
}

.outerContainer:hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.labelContainer {
  display: flex;
  background-color: #009cd5;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: left;
  justify-items: center;
  align-items: center;
}

.icon {
  width: 1.75em;
  height: 1.75em;
  color: rgb(209, 213, 219);
}

.label {
  margin-left: 1em;
  font-size: 1.125em;
  color: rgb(229, 231, 235);
}

.textAreaContainer {
  margin-top: 2.5em;
  display: flex;
  margin-left: 2.5em;
  height: 50%;
  justify-content: left;
}

.textArea {
  width: 71.25%;
  height: 91.25%;
  background-color: transparent;
  resize: none;
  padding: 1em;
  outline: none;
  border: 0.125em solid rgb(156, 163, 175);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(107, 114, 128);
  border-radius: 0.75em;
}

.textArea:hover {
  border: 0.125em solid #009cd5;
}

.btnContainer {
  float: right;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin-top: 1em;
  height: 5em;
  width: 75%;
  outline: none;
  color: rgb(229, 231, 235);
  opacity: .9;
  border: none;
  background-color: #009cd5;
  border-radius: 1.25em;
  transform: scale(0.95);
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn:hover {
  transition-duration: 150ms;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  opacity: 1;
}

.btn:active {
  transform: scale(0.85);
}

.error {
  animation: fadein 0.5s;
  position: absolute;
  top: 61.5em;
  left: 10.5em;
  color: #009cd5;
  font-size: 0.75em;
  font-weight: bold;
}

.thankYou {
  animation: fadein 0.75s;
  position: absolute;
  top: 61.5em;
  left: 10.5em;
  color: #009cd5;
  font-size: 0.75em;
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
