/* TODO Add site wide styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #009cd5;
  outline: .25em solid transparent;
}

.progressBar {
  z-index: 50;
}
