.leftHeader {
  z-index: 101;
}

.logo {
  position: relative;
  height: 3.5em;
  width: auto;
  object-position: left;
  object-fit: contain;
  display: flex;
  justify-content: center;
  z-index: 101;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  padding: 0.5em 1.5em;
  transition-duration: 150ms;
}

.imgContainer {
  z-index: 101;
}

.logo:active {
  transform: scale(0.95);
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
  grid-template-columns: 1fr 2fr 1fr;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 0.2s ease all;
}

.searchIcon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  background-color: #009cd5;
  color: white;
  border-radius: 9999px;
  padding: 0.5em;
  cursor: pointer;
  margin-right: 0.5em;
  position: absolute;
  opacity: 85%;
  transition-duration: 150ms;
  right: 0;
}

.searchIcon:active {
  transform: scale(0.9);
}

.searchIcon:hover {
  opacity: 95%;
}

.middleHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  border-radius: 1.5em;
  padding: 1em 2em;
  font-size: 0.8em;
  border: none;
  transition-duration: 150ms;
  outline: none;
  flex-grow: 1;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: #009cd5;
}

.searchInput:active {
}

.searchInput:focus {
  border: 0.0625em solid #009cd5;
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.user {
  background-color: #009cd5;
  border-radius: 999px;
  height: 2em;
  width: 2em;
  animation: fadein2 0.25s;
  color: rgb(229, 231, 235);
  margin-right: 0.9em;
  font-size: 1em;
  opacity: 0.775;
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;

  --tw-border-opacity: 1;
  border-color: rgba(75, 85, 99, var(--tw-border-opacity));
  align-self: center;
}

.user:hover {
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.775;
  }
}

.menuIcon,
.userIcon {
  width: 2.25em;
  height: auto;
  display: flex;
  align-items: center;
  color: #009cd5;
}

.rightIconsContainer {
  display: flex;

  flex-direction: row-reverse;
  border: 0.0625em solid black;
  border-radius: 0.5em;
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: pointer;
  margin-right: 1em;
  padding: 0.125em 0.25em;
  transition-duration: 150ms;
}

.rightIconsContainer:active {
  transform: scale(0.95);
}

.dropDownMenu {
  opacity: 97.5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 15em;
  height: auto;
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
  background-color: grey;
  transform: translate(-10%, 90%);
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  -webkit-animation: fadein 0.33s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 0.33s;
  font-size: 0.75em;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 97.5%;
  }
}

.dropDownItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  transition: 0.2s ease all;
  cursor: pointer;
  outline: none;
  opacity: 75%;
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 0.775em;
  padding: 0.5em;
  display: flex;
  transition-duration: 150ms;
  justify-content: Center;
  align-self: center;
  color: #009cd5;
  width: 80%;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: transparent;
}

.dropDownItem:active {
  transform: scale(0.95);
}

.dropDownItem:hover {
  color: white;
  background: #009cd5;
  border: none;
  opacity: 80%;
}

.headerNavLink {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  outline: none;
  opacity: 75%;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 0.775em;
  padding: 0.5em;
  display: flex;
  justify-content: Center;
  align-self: center;
  color: white;
  transition: 0.2s ease all;
  width: 75%;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: #009cd5;
}

.headerNavLink:hover {
  border: none;
  opacity: 90%;
}

.dateRangePickerContainer {
  display: flex;
  flex-direction: column;
  grid-column: span 3 / span 3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25em;
  margin-bottom: 1.25em;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchBtnsContainer {
  margin-top: 1em;
  display: flex;
}

.submitSearchBtn {
  flex-grow: 1;
  color: #009cd5;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 75%;
  transform: scale(1.125);
  transition: 0.2s ease all;
  text-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cancelSearchBtn {
  flex-grow: 1;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 75%;
  transform: scale(1.125);
  transition: 0.2s ease all;
  text-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.submitSearchBtn:hover {
  transform: scale(1.125);
  opacity: 100%;
}
.submitSearchBtn:active {
  transform: scale(0.75);
}

.cancelSearchBtn:hover {
  transform: scale(1.125);
  opacity: 100%;
}
.cancelSearchBtn:active {
  transform: scale(0.75);
}

.dropDownHeader {
  font-weight: bold;
  margin: 0.5em;
  color: #009cd5;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

/* NEW MENU */

.outerContainer {
  animation: fadein 0.5s;
  width: 5.75em;
  height: 8em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  bottom: 0;

  transform: translate(-11%, 95%);
}

.menuItem {
  border-radius: 0.5em;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  width: 91%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  cursor: pointer;
  transition: 0.2s ease all;
  align-items: center;
  font-size: 0.625em;
  opacity: 92.5%;
  align-self: center;
  border-bottom: 0.0625em solid #009cd5;
  color: #009cd5;
}

.menuItem {
  border: 0.0625 solid #009cd5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem:hover {
  color: white;
  background-color: #009cd5;
  opacity: 75%;
  transform: scale(1.03);
}

.menuItem:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.menuItem:last-child {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom: none;
}
