.signupForm {
  margin: 0 auto 0 auto;
  width: 25%;
  opacity: .9;
  display: flex;
  flex-direction: column;
  animation: fadein 0.5s;
}

.signupLabel {
  font-size: 0.8em;
  text-align: left;
  color: #009cd5;
}

.signupInput {
  margin: 1.25em 0em;
  padding: 1em 1em;
  width: 90%;
  font-size: 1em;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.signupInput,
input[type="textarea"] {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  color: #009cd5;
}

.signupInput:focus {
  border-color: #009cd5;
}

.signupBtn {
  padding: 1em;
  background: #009cd5;
  opacity: .75;
  width: 33%;
  font-size: 0.8em;
  margin: 0 auto;
  border: none;
  border-radius: 0.25em;
  margin-top: 1.5em;
  margin-bottom: 6.5em;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease all;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.signupBtn:hover {
  opacity: .85;
}

.errors {
  animation: fadein 0.5s;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  justify-content: center;
  color: rgb(107, 114, 128);
  align-items: center;
  padding-bottom: 0.75em;
  list-style: none;
  text-align: center;
  margin-right: 3em;
  width: 90%;
  font-size: 0.75em;
}

.errors:hover {
  color: black;
}

.icon {
  height: 2.5em;
  width: 2.5em;
  color: #009cd5;
}

.blue {
  color: #009cd5;
}
.titleContainer {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.headerFooter {
  margin: 0 auto;
  margin-top: 0.5em;
  font-size: 0.9em;
}

.link {
  text-decoration: underline;
  transition: 0.2s ease all;
  color: black;
  opacity: .75;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
  color: #009cd5;
}

.title {
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 1.25em;
  padding-right: 0.5em;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: .975;
  }
}
